@model DataprossingWeb.Models.PopulationAgeGroupInBaishaPenghu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.year) 年 @Html.DisplayFor(model => model.month) 月</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sum)
        </dd>
        <dt class="col-sm-2">
            0~4歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age0)
        </dd>
        <dt class="col-sm-2">
            5~9歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age1)
        </dd>
        <dt class="col-sm-2">
            10~14歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age2)
        </dd>
        <dt class="col-sm-2">
            15~19歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age3)
        </dd>
        <dt class="col-sm-2">
            20~24歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age4)
        </dd>
        <dt class="col-sm-2">
            25~29歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age5)
        </dd>
        <dt class="col-sm-2">
            35~39歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age6)
        </dd>
        <dt class="col-sm-2">
            40~44歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age7)
        </dd>
        <dt class="col-sm-2">
            45~49歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age8)
        </dd>
        <dt class="col-sm-2">
            50~54歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age9)
        </dd>
        <dt class="col-sm-2">
            55~59歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age10)
        </dd>
        <dt class="col-sm-2">
            60~64歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age11)
        </dd>
        <dt class="col-sm-2">
            65~69歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age12)
        </dd>
        <dt class="col-sm-2">
            70~74歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age13)
        </dd>
        <dt class="col-sm-2">
            75~79歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age14)
        </dd>
        <dt class="col-sm-2">
            80~84歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age15)
        </dd>
        <dt class="col-sm-2">
            85~89歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age16)
        </dd>
        <dt class="col-sm-2">
            90~94歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age17)
        </dd>
        <dt class="col-sm-2">
            95~99歲
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age18)
        </dd>
        <dt class="col-sm-2">
            100歲以上
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age19)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
