@model PagedList.IPagedList<DataprossingWeb.Models.PopulationAgeGroupInBaishaPenghu>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Index";
    var perviousDisable = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisable = !Model.HasNextPage ? "disabled" : "";
}

<h1>Datas</h1>

<p>
    <a asp-action="Create">Create New</a> |
    <a asp-action="Import">Import Datas</a> |
    <a asp-action="DeleteAll">Delete All Datas</a>
</p>

<form asp-action="Index" method="get" style="margin:16px">
    年度：<input type="text" name="year" />
    <input type="submit" value="搜尋" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                年度
            </th>
            <th>
                月份
            </th>
            <th>
                加總
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.month)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sum)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-action="Index" 
       asp-route-pageNumber="@(Model.PageNumber - 1)"
       class="btn btn-default @perviousDisable">
       Pervious
    </a> |
    <a asp-action="Index" 
       asp-route-pageNumber="@(Model.PageNumber + 1)"
       class="btn btn-default @nextDisable">
       Next
    </a>
</p>