@model IEnumerable<Dataprossing.Models.PopulationAgeGroupInBaishaPenghu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age0)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age13)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age14)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age16)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age17)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age18)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age19)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.month)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age0)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age12)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age13)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age14)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age16)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age17)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age18)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age19)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
