@model IEnumerable<Dataprossing.Models.PopulationAgeGroupInBaishaPenghu>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Population Age Group in Baisha Penghu</h1>
<table style="width:100%" border="1">
    <tr>
        <th>年度</th>
        <th>月份</th>
        @for (int i = 0; i < 100; i += 5)
        {
            <th>年齡@(i)~@(i + 4)</th>
        }
        <th>總計</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.year</td>
            <td>@item.month</td>
            <td>@item.age0</td>
            <td>@item.age1</td>
            <td>@item.age2</td>
            <td>@item.age3</td>
            <td>@item.age4</td>
            <td>@item.age5</td>
            <td>@item.age6</td>
            <td>@item.age7</td>
            <td>@item.age8</td>
            <td>@item.age9</td>
            <td>@item.age10</td>
            <td>@item.age11</td>
            <td>@item.age12</td>
            <td>@item.age13</td>
            <td>@item.age14</td>
            <td>@item.age15</td>
            <td>@item.age16</td>
            <td>@item.age17</td>
            <td>@item.age18</td>
            <td>@item.age19</td>
            <td>@item.sum</td>
        </tr>
    }
</table>
@*<h2>@Model.ToList()[0].age0</h2>*@